<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{{subject_code}}</title>
        <!-- Bootstrap Core CSS -->
        <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <!-- MetisMenu CSS -->
        <link href="{{url_for('static', filename='vendor/metisMenu/metisMenu.min.css')}}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{url_for('static', filename='dist/css/sb-admin-2.css')}}" rel="stylesheet">
        <!-- Morris Charts CSS -->
        <link href="{{url_for('static', filename='vendor/morrisjs/morris.css')}}" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="{{url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="wrapper">
            <!--start menu-->
            <nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#"><i class="glyphicon glyphicon-home"></i> Classes</a></li>
                                <li class="divider"></li>
                                {% for i in subject%}
                                <li><a href='{{url_for('subject',username = username,subject_code = i[0],type_sort = 'studentid') }}'><i class="fa fa-sign-out fa-fw"></i>{{i[0]}}</a></li>
                                {% endfor %}
                                <br><br><br><br><br><br>
                                <li><a href='{{url_for('archive',username = username)}}'><i class="glyphicon glyphicon-save"></i>Archive</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-cog"></i>Setting</a></li>
                            </ul>
                        </div>
                    </div>
                    <a class="navbar-brand" href='{{url_for('subject',username = username,subject_code = subject_code,type_sort = 'studentid')}}'>FRA 241 (2560)</a>
                </div>
                <!-- /.navbar-header -->
                <ul class="nav navbar-top-links navbar-right">
                    <a data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-plus"></i></a> <!-- Add Class -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i>My Account</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="01_login.html"><i class="fa fa-sign-out fa-fw"></i>Sign out</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
                <!--end menu-->
                <!--start side bar-->
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav in" id="side-menu">
                            <li>
                                <a href="Eiei.html" class="active"><i class="glyphicon glyphicon-home"></i> Home</a>
                            </li>
                            <li class="">
                                <a href="#"><i class="glyphicon glyphicon-user"></i> Cooperators<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">

                                    <li>
                                        <a href="flot.html">Bawornsak Sakulkuaekulsuk</a>
                                    </li>
                                    <li>
                                        <a href="morris.html">Suriya Natsupakpong</a>
                                    </li>
                                    <li>
                                        <a href="morris.html">Warasinee Chaisangmongkon</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a data-toggle="modal" data-target="#myModal2"><i class="glyphicon glyphicon-plus"></i> Add cooperators</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="#"><i class="glyphicon glyphicon-briefcase"></i> Groups<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                    <li>
                                        <a href="flot.html">Mini-project</a>
                                    </li>
                                    <li>
                                        <a href="morris.html">Project</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a data-toggle="modal" data-target="#myModal3"><i class="glyphicon glyphicon-plus"></i> Add groups</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="#"><i class="glyphicon glyphicon-pencil"></i> Tasks<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                    <li>
                                        <a href="flot.html">Task A (Individual)</a>
                                    </li>
                                    <li>
                                        <a href="morris.html">Task B (Project - Equal score)</a>
                                    </li>
                                    <li>
                                        <a href="morris.html">Task C (Project - Credit bank)</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a data-toggle="modal" data-target="#myModal4"><i class="glyphicon glyphicon-plus"></i> Add Tasks</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
            </nav>
            <!--end side bar-->
            <!-- start Pop-up add class -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Add Class</h4>
                        </div>
                        <div class="modal-body">
                            <form name="test" method="post" action="">
                                Class's name : <input type="text" name="Class's name"><br><br>
                                <div class="row">
                                    <div class="col-lg-2">
                                        <h5>Cooperators:</h5>
                                    </div>
                                    <div class="col-lg-10">





                                                <div class="checkbox">
                                                    <label for="checkbox1">
                                                        <input type="checkbox" id="checkbox1">
                                                        Bawornsak Sakulkuaekulsuk
                                                    </label>
                                                </div>

                                                <div class="checkbox">
                                                    <label for="checkbox1">
                                                        <input type="checkbox" id="checkbox1">
                                                        Suriya Natsupakpong
                                                    </label>
                                                </div>

                                                <div class="checkbox">
                                                    <label for="checkbox1">
                                                        <input type="checkbox" id="checkbox1">
                                                        Warasinee Chaisangmongkon
                                                    </label>
                                                </div>

                           </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end Pop-up add class-->
            <!-- start Pop-up add Group -->
            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Add group</h4>
                        </div>
                        <div class="modal-body">
                            <div class="sidebar-nav navbar-collapse">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <ul class="nav in" id="side-menu">
                                            <li>
                                                <a href="#" class="active"> by Student ID.</a>
                                            </li>
                                            <li>
                                                <a href="#" class="active"> by GPAX</a>
                                            </li>
                                            <li>
                                                <a href="#" class="active"> by Random</a>
                                            </li>
                                            <li>
                                                <a href="#" class="active"> by Custom</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-8">
                                        <form name="test" method="post" action="">
                                            Group's name : <input type="text" name="Class's name"><br><br>
                                            Number of group : <input type="text" name="Class's name"><br><br>
                                            <div class="form-group">
                                                <h5>Grouping from</h5>
                                                <div class="col-lg-4">
                                                    <div class="radio">
                                                        <label>
                                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">All
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="radio">
                                                        <label>
                                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Section
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end Pop-up add Group-->
            <!-- start Pop-up add Task -->
            <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Add Task</h4>
                        </div>
                        <div class="modal-body">
                            <div class="sidebar-nav navbar-collapse">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <ul class="nav in" id="side-menu">
                                            <li>
                                                <a href="#" class="active"> Individual</a>
                                            </li>
                                            <li>
                                                <a href="#" class="active"> Group</a>
                                            </li>
                                            <li>
                                                <a href="#" class="active"> Mini-project</a>
                                            </li>
                                            <li>
                                                <a href="#" class="active"> Project</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-8">
                                        <form name="test" method="post" action="">
                                            Task's name : <input type="text" name="Class's name"><br><br>
                                            Score : <input type="text" name="Class's name"><br><br>
                                            <div class="form-group">
                                                <h5>Scoring type</h5>
                                                <div class="col-lg-4">
                                                    <div class="radio">
                                                        <label>
                                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">Equal
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="radio">
                                                        <label>
                                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Credit bank
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end Pop-up add Task-->
            <div id="page-wrapper" style="min-height: 611px;">
                <div class="row">
                    <div class="col-lg-2 col-md-5">
                        <!-- องประกอบด้านใน-->
                        <h5 class="page-header"><i class="glyphicon glyphicon-cog"></i> <ins>Manage Student List</ins></h5>
                    </div>
                    <div class="col-lg-2 col-md-push-7">
                        <br><br>
                        <!-- Split button -->
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- /.row -->
                <!-- /.row -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-11 col-md-push-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Students in "FRA 241 (2560)" class</h3>
                                </div>
                                <div class="panel-body">
                                    <!-- <h2>Basic Table</h2>
                                        <p> ... Description of the table ... </p> -->
                                    <table class="table">
                                        <thead class="thead-default">
                                            <tr>
                                                <th>Student ID.</th>
                                                <th>Name</th>
                                                <th>Year</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <form name="studentlist" method="post" action="{{url_for('removeStudent', username = username, subject_code = subject_code)}}">
                                        <tbody>
                                          {% for i in studentList %}
                                            <tr>
                                                <td>{{i.id_student}}</td>
                                                <td>{{i.name_student}}</td>
                                                <td>{{i.year_student}}</td>
                                                <td>
                                                    <div class="ckbox">
                                                        <input type="checkbox" name="studentinclass" id="checkbox1" value="{{i.id_student}}">
                                                        <label for="checkbox1"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                    </table>
                                    <div class="row">
                                        <div class="col-lg-2 col-md-5">
                                        </div>
                                        <div class="col-lg-2 col-md-push-7">
                                            <br><br>
                                            <button type="submit" class="btn btn-default">Remove</button>
                                          </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-11 col-md-push-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Other students</h3>
                                </div>
                                <div class="panel-body">
                                    <!-- <h2>Basic Table</h2>
                                        <p> ... Description of the table ... </p> -->
                                    <table class="table">
                                        <thead class="thead-default">
                                            <tr>
                                                <th>Student ID.</th>
                                                <th>Name</th>
                                                <th>Year</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <form name="otherstudent", method="post", action="{{url_for('addStudent', username= username, subject_code = subject_code)}}">
                                        <tbody>
                                            {% for i in otherstudent %}
                                            <tr>
                                                <td>{{i.id_student}}</td>
                                                <td>{{i.name_student}}</td>
                                                <td>{{i.year_student}}</td>
                                                <td>
                                                    <div class="ckbox">
                                                        <input type="checkbox" id="checkbox1" name="otherstudent" value="{{i.id_student}}">
                                                        <label for="checkbox1"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-lg-2 col-md-5">
                                        </div>
                                        <div class="col-lg-2 col-md-push-7">
                                            <br><br>
                                            <button type="submit" class="btn btn-primary">Add</button>
                                          </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
        <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static', filename='vendor/metisMenu/metisMenu.min.js')}}"></script>
        <script src="{{url_for('static', filename='vendor/raphael/raphael.min.js')}}"></script>
        <script src="{{url_for('static', filename='vendor/morrisjs/morris.min.js')}}"></script>
        <script src="{{url_for('static', filename='data/morris-data.js')}}"></script>
        <script src="{{url_for('static', filename='dist/js/sb-admin-2.js')}}"></script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery-3.2.1.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
