<!DOCTYPE html>
<html>
<head>
	<title>SideBar Menu</title>
	<link rel="stylesheet" type="text/css" href="style1.css">
</head>
<body>

	<div id="sidebar">

		<ul>
			<li><a href="#">Link 1</a></li>
			<li><a href="#">Link 2</a></li>
			<li><a href="#">Link 3</a></li>
			<li><a href="#">Link 4</a></li>
			<li><a href="#">Link 5</a></li>
		</ul>

		<div id="sidebar-btn">
			<span></span>
			<span></span>
			<span></span>
		</div>

	</div>

	

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>

	$(document).ready(function(){
		$('#sidebar-btn').click(function(){
			$('#sidebar').toggleClass('visible');
		});
	});

	</script>

</body>
</html>