<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../static/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="static/vendor_for_slidebar/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="../static/css_box/style.css" rel="stylesheet">
    

</head>









<body>
<div id="wrapper">




<!--start menu-->

<nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">

        <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>






                <div class="navbar-brand">
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="glyphicon glyphicon-list"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="glyphicon glyphicon-home"></i> Classes</a></li>
                            

                            <li class="divider"></li>

                            <li><a href="01_login.html"><i class="fa fa-sign-out fa-fw"></i>FRA 141 (2560)</a></li>


                            <li><a href="01_login.html"><i class="fa fa-sign-out fa-fw"></i>FRA 241 (2560)</a></li>

                            <br><br><br><br><br><br>


                            <li><a href="01_login.html"><i class="glyphicon glyphicon-cog"></i>Setting</a></li>

                        </ul>
                    </div>
                </div>


                <a class="navbar-brand" href="Eiei.html">FRA 241 (2560)</a>




        </div>
    <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="glyphicon glyphicon-plus"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">

                        <li>
                            <a class="text-center" href="Eiei.html">
                                <div>
                                    <strong>5555555</strong>
                                </div>
                            </a>
                        </li>

                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->


    
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i>My Account</a>
                        </li>

                        <li class="divider"></li>
                        <li><a href="01_login.html"><i class="fa fa-sign-out fa-fw"></i>Sign out</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>



<!--end menu-->

<!--start side bar-->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav in" id="side-menu">
                        
                        <li>
                            <a href="Eiei.html" class="active"><i class="glyphicon glyphicon-home"></i> Home</a>
                        </li>


                        <li class="">
                            <a href="#"><i class="glyphicon glyphicon-user"></i> Cooperators<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                <li>
                                    <a href="flot.html">Bawornsak Sakulkuaekulsuk</a>
                                </li>
                                <li>
                                    <a href="morris.html">Suriya Natsupakpong</a>
                                </li>
                                <li>
                                    <a href="morris.html">Warasinee Chaisangmongkon</a>
                                </li>

                                <li class="divider"></li>

                                <li>
                                    <a class="glyphicon glyphicon-plus" href="morris.html"> Add cooperators</a>
                                </li>
                            </ul>
                        </li>


                        <li class="">
                            <a href="#"><i class="glyphicon glyphicon-briefcase"></i> Groups<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                <li>
                                    <a href="flot.html">Mini-project</a>
                                </li>
                                <li>
                                    <a href="morris.html">Project</a>
                                </li>

                                <li class="divider"></li>

                                <li>
                                    <a class="glyphicon glyphicon-plus" href="morris.html"> Add groups</a>
                                </li>
                            </ul>
                        </li>

                        <li class="">
                            <a href="#"><i class="glyphicon glyphicon-pencil"></i> Tasks<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                <li>
                                    <a href="flot.html">Task A (Individual)</a>
                                </li>
                                <li>
                                    <a href="morris.html">Task B (Project - Equal score)</a>
                                </li>
                                <li>
                                    <a href="morris.html">Task C (Project - Credit bank)</a>
                                </li>

                                <li class="divider"></li>

                                <li>
                                    <a class="glyphicon glyphicon-plus" href="morris.html"> Add Tasks</a>
                                </li>
                            </ul>
                        </li> 
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
</nav>

<!--end side bar-->

 <!-- องประกอบด้านใน-->
                <div class="container">
                    <div class = "row" >
                        <div class="col-xs-12 col-sm-6 col-md-4"> 
                            
                            <div class="card" style="width: 30rem; background-color: None;">
                              <img class="card-img-top" src="../static/img/logo_FIBO2.png" class="image-responsive" alt="Card image cap" width="250" >
                              <hr width="100%">
                              <div class="card-block">
                                <br><h4 class="card-title" style="color: white">FRA 141(2560) </h4>
                                <h4 class="card-title" style="color: white" >Cooperators </h4>
                                <br><a2 href="#"><i class="glyphicon glyphicon-user" style="color: white" ></i> Bawornsak Sakulkueakulsak</a2>
                                <br><a2 href="#"><i class="glyphicon glyphicon-user" style="color: white" ></i> Warasinee Chaisangmongkon</a2>  
                                <br><br><a href="#" class="btn btn-primary">FRA 141</a>
                              </div>
                            </div>


                        </div>
                        
            
                    </div>
                </div>
            
</div>

<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/vendor/metisMenu/metisMenu.min.js"></script>
<script src="../static/vendor/raphael/raphael.min.js"></script>
<script src="../static/vendor/morrisjs/morris.min.js"></script>
<script src="../static/data/morris-data.js"></script>
<script src="../static/dist/js/sb-admin-2.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>