
.card{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	background: #EEEEEE;
	margin-top: 40px;
	text-align: center;
	position: relative;
	cursor: pointer;
	margin-left: 0px;
	width: 100px;
	padding: 30px;
	
}

.card:hover{
	-webkit-box-shadow: 0 2px 3px #EEEEEE;
	-moz-box-shadow: 0 2px 3px #EEEEEE;
	-o-box-shadow: 0 2px 3px #EEEEEE;
	box-shadow: 1px 1px 30px #EEEEEE;
}

